<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - ACM Academic Committee</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/dist-main.css' | relative_url }}">
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
          document.documentElement.classList.add('dark')
      } else {
          document.documentElement.classList.remove('dark')
      }
  </script>
</head>
    
</head>
<div class="min-h-full bg-gray-50 dark:bg-gray-800">
    <div class="grow">
      {% include header.html %}
    </div>
    
    <main class="min-h-screen ">
        {{ content }}
    </main>

    <div class="grow">
      {% include footer.html %}
    </div>
  </div>
</html>